html,body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(128, 128, 232);
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: black;
    padding: 10px 25px;
    border-radius: 10px;
    width: 400px;
    height: 200px;
}
h1{
    color:aliceblue;
    text-align: center;
    margin-bottom: 0.5em;
}

.container .box{
    width: 100%;
    display: flex;
}
.box div{
    width:100%;
    

}
select{
    width: 95%;
    height: 30px;
    font-size: 1em;
    margin:0.2em 0;
    border-radius: 8px;
    border: none;
    background: rgb(83, 242, 239);
    padding: 0 1em;
}
input{
    width: 80%;
    height: 30px;
    font-size: 1em;
    margin:0.2em 0;
    border-radius: 8px;
    border: none;
    background: rgb(207, 241, 240);
    padding: 0 1em;
}
.btn{
    display: flex;
    justify-content: center;
}
button{
    width:50%;
    height: 30px;
    color: aliceblue;
    background-color: rgb(55, 55, 243);
    border-radius: 10px;
    margin: 0.5em 0;
    font-size: 1em;
}